.container{
    background-color: #F0F0C9;
    width: 430px;
    height: 932px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#error{
    color: red;
}

.chuckgif{
    width: 104px;
    height: 124px;
    display: flex;
    flex-direction: column-reverse;
    
}

.clickB{
    position: absolute;
    width: 364px;
    height: 48px;
    left: 33px;
    top: 759px;
    background-color: #780116;
}

.scrittaB{
    font-family: 'Concert One';
    color: white;
    text-decoration: none;
}

#joke{
    position: absolute;
    width: 364px;
    height: 113px;
    left: 33px;
    top: 284px;
    background-color: #E1E1E1;
    font-family: 'Concert One';
}

.title{
    position: absolute;
    width: 364px;
    height: 124px;
    left: 33px;
    top: 31px;
    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #D8572A;
}

.selectClass{
    position: absolute;
    width: 364px;
    height: 28px;
    left: 33px;
    top: 575px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mitraimg{
    position: absolute;
    width: 111px;
    height: 92px;
    left: 305px;
    top: 87px;
}


.copyBtnContainer{
    position: absolute;
    width: 185px;
    height: 33px;
    left: 123px;
    top: 825px;
    background-color: #D8572A;
}

.copyButton{
    background-color: #D8572A;
    width: 100%;
    height: 100%;
}

.btn{
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-family: "Concert One";
    font-size: 16px;
}


  









