.container{
    background-color: #F0F0C9;
    width: 430px;
    height: 932px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#error{
    color: red;
}

.chuckgif{
    width: 104px;
    height: 124px;
    display: flex;
    flex-direction: column-reverse;
    
}

.clickB{
    position: absolute;
    width: 364px;
    height: 48px;
    left: 33px;
    top: 759px;
    background-color: #780116;
    color: white;
}

#joke{
    position: absolute;
    width: 364px;
    height: 113px;
    left: 33px;
    top: 284px;
    background-color: #E1E1E1;
}

.title{
    position: absolute;
    width: 364px;
    height: 124px;
    left: 33px;
    top: 31px;
    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #D8572A;
    border: 1px solid #000000;
}

.selectClass{
    position: absolute;
    width: 364px;
    height: 28px;
    left: 33px;
    top: 575px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


 














.copyButton{
    background-color: #D8572A;
    position: absolute;
    width: 185px;
    height: 33px;
    left: 123px;
    top: 825px;

}


  









